<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="assets/img/favicon.ico" rel="icon" />
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <title>Web Hosting Indonesia Unlimited &Terbaik - Niagahoster</title>
</head>

<body class="d-flex flex-column h-100">
    <header class="position-relative">
        <nav class="d-none d-lg-block navbar navbar-expand-md navbar-light fixed-top bg-white py-1 border" style="opacity: 1">
            <div class="container"> <small class="alert alert-light alert-dismissible fade show m-0 p-0 mt-n3 ls-05" role="alert">
                        <span class="position-relative">
                            <svg width="2.75em" height="2.75em" viewBox="0 0 16 16" class="mt-n1 bi bi-bookmark-fill text-center" fill="#008fee" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5V2z"/>
                            </svg>
                            <svg class="bi bi-tag-fill position-absolute" style="top: -6; left: 0; bottom: 0; right: 0; margin: auto" width="1.35em" height="1.35em" viewBox="0 0 16 16" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                            </svg>
                        </span>
                        <a href="#" class="fs-93">Gratis Ebook 9 Cara Cerdas Menggunakan Domain</a>
                        <button type="button" class="btn btn-sm p-0 fs-93" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">[ x ]</span>
                        </button>
                    </small>
                <div class="navbar-collapse collapse fs-90">
                    <ul class="navbar-nav ml-auto align-items-center">
                        <li class="nav-item align-items-center">
                            <a class="nav-link d-flex align-items-center" href="#"> <i class="fas fa-phone-alt mr-2"></i>  <span>0274-5305505</span> 
                            </a>
                        </li>
                        <li class="nav-item align-items-center">
                            <a class="nav-link d-flex align-items-center" href="#"> <i class="fas fa-comment-alt mr-2"></i>  <span>Live Chat</span> 
                            </a>
                        </li>
                        <li class="nav-item align-items-center">
                            <a class="nav-link d-flex align-items-center" href="#"> <i class="fas fa-user-circle mr-2 mt-n1" style="font-size: 175%;"></i>  <span>Member Area</span> 
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> 
        <small class="d-block d-lg-none alert alert-light alert-dismissible fade show m-0 p-0 fixed-top border" role="alert">
            <div class="d-flex d-sm-block text-center justify-content-between align-items-center">
                <span style="position: relative;">
                    <svg width="2.75em" height="2.75em" viewBox="0 0 16 16" class="mt-n1 bi bi-bookmark-fill text-center" fill="#008fee" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5V2z"/>
                    </svg>
                    <svg style="position: absolute; top: -6; left: 0; bottom: 0; right: 0; margin: auto" width="1.35em" height="1.35em" viewBox="0 0 16 16" class="bi bi-tag-fill" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                </span>
                <a href="#" style="font-size:93%">Gratis Ebook 9 Cara Cerdas Menggunakan Domain</a>
                <button style="font-size: 93%" type="button" class="btn btn-sm p-0 ml-1" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">[ x ]</span>
                </button>
            </div>
        </small>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-white pt-lg-5 border">
            <div class="container pt-lg-1">
                <a class="navbar-brand" href="#">
                    <img src="assets/img/logo-niagahoster.png" height="55" alt="Logo Niaga Hoster" loading="lazy">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="#navbar-collapse-main" aria-expanded="true" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> 
                </button>
                <div class="navbar-collapse collapse" id="navbar-collapse-main">
                    <div class="d-flex d-lg-none justify-content-center">
                        <a class="nav-link d-flex align-items-center" href="#"> <i class="fas fa-phone-alt mr-1"></i>  <span>call</span> 
                        </a>
                        <a class="nav-link d-flex align-items-center" href="#"> <i class="fas fa-comment-alt mr-1"></i>  <span>chat</span> 
                        </a>
                        <a class="nav-link d-flex align-items-center" href="#"> <i class="fas fa-user-circle mr-1 fs-125"></i>  <span>member</span> 
                        </a>
                    </div>
                    <ul class="navbar-nav ml-auto">
                        {% for menu in menus%}
                            <li class="nav-item"> <a class="nav-link" href="#">{{ menu }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0 pt-2 pt-lg-5 justify-content-center">
        <section class="php-hosting container monstserrat">
            <div class="row align-items-center">
                <div class="col-12 col-md-7 col-lg-6">
                    <h1 data-aos="fade-up" class="font-weight-bold">PHP Hosting</h1>
                    <h5 data-aos="fade-up" data-aos-delay="200" class="font-weight-normal d-block d-lg-none">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</h5>
                    <h3 data-aos="fade-up" data-aos-delay="200" class="font-weight-normal d-none d-lg-block">Cepat, handal, penuh dengan modul PHP yang Anda butuhkan</h3>
                    <ul class="list-unstyled mt-4">
                        <li data-aos="fade-left" data-aos-delay="300" class="my-2 mt-lg-2 mb-lg-3 d-flex"> <i class="fas fa-check-circle text-success fs-125 mr-2"></i>  <span>Solusi PHP untuk performa query yang lebih cepat.</span> 
                        </li>
                        <li data-aos="fade-left" data-aos-delay="350" class="my-2 mt-lg-2 mb-lg-3 d-flex"> <i class="fas fa-check-circle text-success fs-125 mr-2"></i>  <span>Konsumsi memori yang lebih rendah.</span> 
                        </li>
                        <li data-aos="fade-left" data-aos-delay="400" class="my-2 mt-lg-2 mb-lg-3 d-flex"> <i class="fas fa-check-circle text-success fs-125 mr-2"></i>  <span>Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6, PHP 7</span> 
                        </li>
                        <li data-aos="fade-left" data-aos-delay="450" class="my-2 mt-md-2 mb-md-3 d-flex"> <i class="fas fa-check-circle text-success fs-125 mr-2"></i>  <span>Fitur enkripsi IonCube dan Zend Guard Loaders</span> 
                        </li>
                    </ul>
                </div>
                <div class="col-10 offset-2 col-sm-9 offset-sm-3 offset-md-0 col-md-5 col-lg-6">
                    <div data-aos="fade-down" data-aos-delay="300" class="row align-items-center">
                        <div class="col-12 col-lg-11 offset-lg-1">
                            <img src="assets/img/illustration banner PHP hosting-01.svg" class="img-fluid w-100" alt="PHP Hosting">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br/>
        <hr/>
        <section class="container monstserrat py-3">
            <div class="row justify-content-center text-center">
                <div data-aos="fade-up" data-aos-delay="200" class="col-8 col-sm-6 col-md-4 col-lg-3 py-4">
                    <div class="card h-100 text-center border-0">
                        <div class="card-body d-flex align-items-center-center justify-content-center p-0">
                            <object class="img-fluid" type="image/svg+xml" data="assets/img/icon PHP Hosting_zendguard.svg"></object>
                        </div>
                        <div class="card-footer bg-transparent border-0 p-0 pt-3">PHP Zend Guard Loader</div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="400" class="col-8 col-sm-6 col-md-4 col-lg-3 py-4">
                    <div class="card h-100 text-center border-0">
                        <div class="card-body d-flex align-items-center-center justify-content-center p-0">
                            <object class="img-fluid" type="image/svg+xml" data="assets/img/icon PHP Hosting_composer.svg"></object>
                        </div>
                        <div class="card-footer bg-transparent border-0 p-0 pt-3">PHP Composer</div>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="600" class="col-8 col-sm-6 col-md-4 col-lg-3 py-4">
                    <div class="card h-100 text-center border-0">
                        <div class="card-body d-flex align-items-center-center justify-content-center p-0">
                            <object class="img-fluid" type="image/svg+xml" data="assets/img/icon PHP Hosting_ioncube.svg"></object>
                        </div>
                        <div class="card-footer bg-transparent border-0 p-0 pt-3">PHP Ioncube Loader</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container monstserrat text-center my-4 mt-lg-5">
            <h3 data-aos="fade-down" data-aos-delay="100" class="font-weight-bold heading-2">Paket Hosting Singapura yang Tepat</h3>
            <h4 data-aos="fade-down" data-aos-delay="150" class="font-weight-normal">Diskon 40% + Domain dan SSL Gratis untuk Anda</h4>
            <div class="row pt-5 no-gutters justify-content-center">
                {% for product in products %}
                    <div data-aos="fade-up" data-aos-delay="200" class="col-11 col-sm-6 col-md-4 col-lg-3 ">
                        <div class="card mb-5 {% if product.best %}ribbon-box border border-blue-1{% endif %}">
                            {% if product.best %}
                            <div class="ribbon ribbon-top-left">
                                <span>best seller!</span>
                            </div>
                            {% endif %}
                            <div class="card-header bg-transparent py-1 pt-2 {% if product.best %}bg-blue-1 text-white border-blue-1{% endif %}">
                                <h4 class="font-weight-bold">{{ product.name }}</h4> 
                            </div>
                            <div class="card-header bg-transparent font-weight-medium {% if product.best %}bg-blue-1 text-white{% endif %}">
                                {{ product.price_before | raw }}
                                <div class="d-flex justify-content-center">
                                    {{ product.price | raw }}
                                </div>
                            </div>
                            <div class="card-header bg-transparent py-2 roboto fs-90 {% if product.best %}text-white bg-blue-2 border-blue-2{% endif %}"> {{ product.users | raw }}</div>
                            <div class="card-body roboto fs-90 py-4">
                                <ul class="list-unstyled">
                                    {% for feature in product.features %}
                                    <li class="mb-2"> {{ feature | raw }} </li>
                                    {% endfor %}
                                </ul>
                                <a href="#" class="mt-4 btn btn-outline-dark rounded-pill font-weight-bolder monstserrat fs-95  py-2 px-4" style="border-width: 2px;">Pilih Sekarang</a> 
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="container text-center my-4 mt-lg-5">
            <h3 class="monstserrat font-weight-normal mb-4" data-aos="fade-up">Powerful dengan Limit PHP yang Lebih Besar</h3>
            <div class="row justify-content-center d-none d-md-flex">
                <div class="col-10 col-sm-6 col-md-6 col-lg-5">
                    <table class="table table-striped border mt-3 font-weight-light" data-aos="fade-in">
                        <tbody>
                            <tr data-aos="fade-right" data-aos-delay="200">
                                <td class="text-left"> <i class="fas fa-check-circle text-success fs-125"></i> 
                                </td>
                                <td>max execute time 300s</td>
                            </tr>
                            <tr data-aos="fade-right" data-aos-delay="300">
                                <td class="text-left"> <i class="fas fa-check-circle text-success fs-125"></i> 
                                </td>
                                <td>max execute time 300s</td>
                            </tr>
                            <tr data-aos="fade-right" data-aos-delay="400">
                                <td class="text-left"> <i class="fas fa-check-circle text-success fs-125"></i> 
                                </td>
                                <td>php memory limit 1024 MB</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-10 col-sm-6 col-md-6 col-lg-5">
                    <table class="table table-striped border mt-3 font-weight-light" data-aos="fade-in">
                        <tbody>
                            <tr data-aos="fade-left" data-aos-delay="200">
                                <td class="text-left"> <i class="fas fa-check-circle text-success fs-125"></i> 
                                </td>
                                <td>post max size 128 MB</td>
                            </tr>
                            <tr data-aos="fade-left" data-aos-delay="300">
                                <td class="text-left"> <i class="fas fa-check-circle text-success fs-125"></i> 
                                </td>
                                <td>upload max filesize 128 MB</td>
                            </tr>
                            <tr data-aos="fade-left" data-aos-delay="400">
                                <td class="text-left"> <i class="fas fa-check-circle text-success fs-125"></i> 
                                </td>
                                <td>max input vars 2500</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row justify-content-center">
                <div style="width: 100px;">
                    <hr style="border-width: 4px">
                </div>
            </div>
        </div>
        <section class="container text-center my-4">
            <h3 data-aos="fade-up" class="monstserrat font-weight-normal mb-4">Semua Paket Hosting Sudah Termasuk</h3>
            <div class="row justify-content-between">
                <div data-aos="fade-in" data-aos-delay="300" class="col-6 col-sm-4 col-md-6 col-lg-4">
                    <div class="card h-100 text-center border-0">
                        <div class="card-body d-flex align-items-center-center justify-content-center pb-2">
                            <object data="assets/img/icon PHP Hosting_PHP Semua Versi.svg" style="width: 65px" class="img-fluid" type="image/svg+xml"></object>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <div class="monstserrat font-weight-bold lead">PHP Semua Versi</div>
                            <p class="d-none d-md-block">Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</p>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-in" data-aos-delay="400" class="col-6 col-sm-4 col-md-6 col-lg-4">
                    <div class="card h-100 text-center border-0">
                        <div class="card-body d-flex align-items-center-center justify-content-center pb-2">
                            <object data="assets/img/icon PHP Hosting_My SQL.svg" style="width: 65px" class="img-fluid" type="image/svg+xml"></object>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <div class="monstserrat font-weight-bold lead">MySQL Versi 5.6</div>
                            <p class="d-none d-md-block">Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur</p>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-in" data-aos-delay="500" class="col-6 col-sm-4 col-md-6 col-lg-4">
                    <div class="card h-100 text-center border-0">
                        <div class="card-body d-flex align-items-center-center justify-content-center pb-2">
                            <object data="assets/img/icon PHP Hosting_CPanel.svg" style="width: 65px" class="img-fluid" type="image/svg+xml"></object>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <div class="monstserrat font-weight-bold lead">Panel Hosting CPanel</div>
                            <p class="d-none d-md-block">Kelola website dengan panel canggih yang familiar di hati Anda.</p>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-in" data-aos-delay="600" class="col-6 col-sm-4 col-md-6 col-lg-4">
                    <div class="card h-100 text-center border-0">
                        <div class="card-body d-flex align-items-center-center justify-content-center pb-2">
                            <object data="assets/img/icon PHP Hosting_garansi uptime.svg" style="width: 65px" class="img-fluid" type="image/svg+xml"></object>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <div class="monstserrat font-weight-bold lead">Garansi Uptime 99.9%</div>
                            <p class="d-none d-md-block">Data center yang mendukung kelangsungan website Anda 24/7</p>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-in" data-aos-delay="800" class="col-6 col-sm-4 col-md-6 col-lg-4">
                    <div class="card h-100 text-center border-0">
                        <div class="card-body d-flex align-items-center-center justify-content-center pb-2">
                            <object data="assets/img/icon PHP Hosting_InnoDB.svg" style="width: 65px" class="img-fluid" type="image/svg+xml"></object>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <div class="monstserrat font-weight-bold lead">Database InnoDB Unlimited</div>
                            <p class="d-none d-md-block">Jumlah dan ukuran database yang tumbuh sesuai kebutuhan anda</p>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-in" data-aos-delay="900" class="col-6 col-sm-4 col-md-6 col-lg-4">
                    <div class="card h-100 text-center border-0">
                        <div class="card-body d-flex align-items-center-center justify-content-center pb-2">
                            <object data="assets/img/icon PHP Hosting_My SQL remote.svg" style="width: 65px" class="img-fluid" type="image/svg+xml"></object>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <div class="monstserrat font-weight-bold lead">Wildcard Remote MySQL</div>
                            <p class="d-none d-md-block">Mendukung s/d 25 max_user_connections dan 100 max_connections</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row justify-content-center">
                <div style="width: 100px;">
                    <hr style="border-width: 4px">
                </div>
            </div>
        </div>
        <section class="php-hosting container monstserrat">
            <h3 data-aos="fade-right" class="monstserrat font-weight-normal mb-3 mt-4 text-center">Mendukung Penuh Framework Laravel</h3>
            <div class="row align-items-center">
                <div class="col-12 col-md-7 col-lg-6">
                    <p data-aos="fade-left" data-aos-delay="100" class="fs-115 ls-05">Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit anda</p>
                    <ul class="list-unstyled mt-4">
                        <li data-aos="fade-right" data-aos-delay="200" class="my-2 mt-lg-2 mb-lg-3 d-flex"> <i class="fas fa-check-circle text-success fs-125 mr-2"></i>  
                            <span class="roboto">
                                Install Laravel <strong>1 klik</strong>
                                dengan Softculous Installer.
                            </span> 
                        </li>
                        <li data-aos="fade-right" data-aos-delay="300" class="my-2 mt-lg-2 mb-lg-3 d-flex"> <i class="fas fa-check-circle text-success fs-125 mr-2"></i>  
                            <span class="roboto">
                                Mendukung ekstensi <strong>PHP MCrypt, phar, mbstring, json,</strong>
                                dan <strong>fileinfo</strong>
                            </span> 
                        </li>
                        <li data-aos="fade-right" data-aos-delay="400" class="my-2 mt-lg-2 mb-lg-3 d-flex"> <i class="fas fa-check-circle text-success fs-125 mr-2"></i>  
                            <span class="roboto">
                                Tersedia <strong>Composer</strong>
                                dan <strong>SSH</strong>
                                untuk menginstal packages pilihan Anda.
                            </span> 
                        </li>
                    </ul>
                    <div data-aos="fade-in" data-aos-delay="200" class="roboto" style="line-height: 1"> 
                        <small>Nb. Composer dan SSH hanya tersedia pada paket Personal dan Bisnis</small> 
                    </div>
                    <a data-aos="fade-up" href="#" class="mt-4 btn btn-primary bg-blue-1 border-blue-1 rounded-pill font-weight-bolder monstserrat  py-2 px-4" style="border-width: 2px;">Pilih Hosting Anda</a> 
                </div>
                <div class="col-10 offset-2 col-sm-9 offset-sm-3 offset-md-0 col-md-5 col-lg-6">
                    <div data-aos="fade-down" data-aos-delay="300" class="row align-items-center">
                        <div class="col-12 col-lg-11 offset-lg-1">
                            <img src="assets/img/illustration banner support laravel hosting.svg" class="img-fluid w-100" alt="Laravel Support">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <section class="container text-center">
            <h3 data-aos="fade-down" class="monstserrat font-weight-normal mb-5 mt-5 text-center">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.</h3>
            <div class="row align-items-center justify-content-center text-center text-md-left">
                <div class="col-12 col-md-3 col-lg-3 offset-lg-1">
                    <ul class="list-unstyled">
                        <li data-aos="fade-in" data-aos-delay="120" class="list-inline-item d-md-block">IcePHP</li>
                        <li data-aos="fade-in" data-aos-delay="140" class="list-inline-item d-md-block">apc</li>
                        <li data-aos="fade-in" data-aos-delay="160" class="list-inline-item d-md-block">apcu</li>
                        <li data-aos="fade-in" data-aos-delay="180" class="list-inline-item d-md-block">apm</li>
                        <li data-aos="fade-in" data-aos-delay="200" class="list-inline-item d-md-block">ares</li>
                        <li data-aos="fade-in" data-aos-delay="220" class="list-inline-item d-md-block">bcmath</li>
                        <li data-aos="fade-in" data-aos-delay="240" class="list-inline-item d-md-block">bcompiler</li>
                        <li data-aos="fade-in" data-aos-delay="260" class="list-inline-item d-md-block">big_int</li>
                        <li data-aos="fade-in" data-aos-delay="280" class="list-inline-item d-md-block">bitset</li>
                        <li data-aos="fade-in" data-aos-delay="300" class="list-inline-item d-md-block">bloomy</li>
                        <li data-aos="fade-in" data-aos-delay="320" class="list-inline-item d-md-block">bz2_filter</li>
                        <li data-aos="fade-in" data-aos-delay="340" class="list-inline-item d-md-block">clamav</li>
                        <li data-aos="fade-in" data-aos-delay="360" class="list-inline-item d-md-block">coin_acceptor</li>
                        <li data-aos="fade-in" data-aos-delay="380" class="list-inline-item d-md-block">crack</li>
                        <li data-aos="fade-in" data-aos-delay="400" class="list-inline-item d-md-block">dba</li>
                    </ul>
                </div>
                <div class="col-12 col-md-3 col-lg-3">
                    <ul class="list-unstyled">
                        <li data-aos="fade-in" data-aos-delay="120" class="list-inline-item d-md-block">http</li>
                        <li data-aos="fade-in" data-aos-delay="140" class="list-inline-item d-md-block">huffman</li>
                        <li data-aos="fade-in" data-aos-delay="160" class="list-inline-item d-md-block">idn</li>
                        <li data-aos="fade-in" data-aos-delay="180" class="list-inline-item d-md-block">igbinary</li>
                        <li data-aos="fade-in" data-aos-delay="200" class="list-inline-item d-md-block">imagick</li>
                        <li data-aos="fade-in" data-aos-delay="220" class="list-inline-item d-md-block">imap</li>
                        <li data-aos="fade-in" data-aos-delay="240" class="list-inline-item d-md-block">included</li>
                        <li data-aos="fade-in" data-aos-delay="260" class="list-inline-item d-md-block">inotify</li>
                        <li data-aos="fade-in" data-aos-delay="280" class="list-inline-item d-md-block">interbase</li>
                        <li data-aos="fade-in" data-aos-delay="300" class="list-inline-item d-md-block">intl</li>
                        <li data-aos="fade-in" data-aos-delay="320" class="list-inline-item d-md-block">ioncube_loader</li>
                        <li data-aos="fade-in" data-aos-delay="340" class="list-inline-item d-md-block">ioncube_loader_4</li>
                        <li data-aos="fade-in" data-aos-delay="360" class="list-inline-item d-md-block">jmin</li>
                        <li data-aos="fade-in" data-aos-delay="380" class="list-inline-item d-md-block">json</li>
                        <li data-aos="fade-in" data-aos-delay="400" class="list-inline-item d-md-block">Idap</li>
                    </ul>
                </div>
                <div class="col-12 col-md-3 col-lg-3">
                    <ul class="list-unstyled">
                        <li data-aos="fade-in" data-aos-delay="120" class="list-inline-item d-md-block">nd_pdo_mysql</li>
                        <li data-aos="fade-in" data-aos-delay="140" class="list-inline-item d-md-block">oauth</li>
                        <li data-aos="fade-in" data-aos-delay="160" class="list-inline-item d-md-block">oci8</li>
                        <li data-aos="fade-in" data-aos-delay="180" class="list-inline-item d-md-block">odbc</li>
                        <li data-aos="fade-in" data-aos-delay="200" class="list-inline-item d-md-block">opcache</li>
                        <li data-aos="fade-in" data-aos-delay="220" class="list-inline-item d-md-block">pdf</li>
                        <li data-aos="fade-in" data-aos-delay="240" class="list-inline-item d-md-block">pdo</li>
                        <li data-aos="fade-in" data-aos-delay="260" class="list-inline-item d-md-block">pdo_dblib</li>
                        <li data-aos="fade-in" data-aos-delay="280" class="list-inline-item d-md-block">pdo_firebird</li>
                        <li data-aos="fade-in" data-aos-delay="300" class="list-inline-item d-md-block">pdo_mysql</li>
                        <li data-aos="fade-in" data-aos-delay="320" class="list-inline-item d-md-block">pdo_odbc</li>
                        <li data-aos="fade-in" data-aos-delay="340" class="list-inline-item d-md-block">pdo_pgsql</li>
                        <li data-aos="fade-in" data-aos-delay="360" class="list-inline-item d-md-block">pdo_sqlite</li>
                        <li data-aos="fade-in" data-aos-delay="380" class="list-inline-item d-md-block">pgsql</li>
                        <li data-aos="fade-in" data-aos-delay="400" class="list-inline-item d-md-block">phalcon</li>
                    </ul>
                </div>
                <div class="col-12 col-md-3 col-lg-2">
                    <ul class="list-unstyled">
                        <li data-aos="fade-in" data-aos-delay="120" class="list-inline-item d-md-block">stats</li>
                        <li data-aos="fade-in" data-aos-delay="140" class="list-inline-item d-md-block">stem</li>
                        <li data-aos="fade-in" data-aos-delay="160" class="list-inline-item d-md-block">stomp</li>
                        <li data-aos="fade-in" data-aos-delay="180" class="list-inline-item d-md-block">suhosin</li>
                        <li data-aos="fade-in" data-aos-delay="200" class="list-inline-item d-md-block">sybase_ct</li>
                        <li data-aos="fade-in" data-aos-delay="220" class="list-inline-item d-md-block">sysvmsg</li>
                        <li data-aos="fade-in" data-aos-delay="240" class="list-inline-item d-md-block">sysvsem</li>
                        <li data-aos="fade-in" data-aos-delay="260" class="list-inline-item d-md-block">sysvhm</li>
                        <li data-aos="fade-in" data-aos-delay="280" class="list-inline-item d-md-block">tidy</li>
                        <li data-aos="fade-in" data-aos-delay="300" class="list-inline-item d-md-block">timezonedb</li>
                        <li data-aos="fade-in" data-aos-delay="320" class="list-inline-item d-md-block">trader</li>
                        <li data-aos="fade-in" data-aos-delay="340" class="list-inline-item d-md-block">translit</li>
                        <li data-aos="fade-in" data-aos-delay="360" class="list-inline-item d-md-block">uploadprogress</li>
                        <li data-aos="fade-in" data-aos-delay="380" class="list-inline-item d-md-block">uri_template</li>
                        <li data-aos="fade-in" data-aos-delay="400" class="list-inline-item d-md-block">uuid</li>
                    </ul>
                </div>
            </div> 
            <a data-aos="fade-in" data-aos-delay="200" href="#" class="mt-4 btn btn-outline-dark rounded-pill font-weight-bolder monstserrat py-2 px-4" style="border-width: 2px;">&nbsp;&nbsp;Selengkapnya &nbsp;&nbsp;</a> 
        </section>
        <section class="php-hosting container monstserrat mt-5">
            <div class="row align-items-end justify-content-between">
                <div class="col-12 col-md-9 col-lg-6">
                    <h3 data-aos="fade-right" data-aos-delay="200" class="d-md-block monstserrat font-weight-normal mb-3">Linux Hosting yang Stabil dengan Teknologi LIVE</h3>
                    <p data-aos="fade-up" data-aos-delay="300" class="roboto font-weight-light pr-lg-5 mb-0 mb-lg-3">SuperMicro <strong class="font-weight-medium">Intel Xeon 24-Cores</strong> server dengan <strong class="font-weight-medium">RAM 128 GB</strong> dan teknologi <strong class="font-weight-medium">LVE CloudLinux</strong> untuk stabilitas server Anda. Dilengkapi dengan <strong class="font-weight-medium">SSD</strong> untuk kecepatan <strong class="font-weight-medium">MySQL</strong> dan caching. Apache load balancer berbasis LiteSpeed Technologies, <strong class="font-weight-medium">CageFS</strong> security, <strong class="font-weight-medium">Raid-10</strong> protection dan auto backup untuk keamanan website PHP Anda.</p> 
                    <a data-aos="fade-in" data-aos-delay="250" href="#" class="mt-4 mb-5 btn btn-primary bg-blue-1 border-blue-1 rounded-pill font-weight-bolder monstserrat  py-2 px-4" style="border-width: 2px;">Pilih Hosting Anda</a> 
                </div>
                <div data-aos="fade-down" data-aos-delay="300" class="col-10 offset-2 col-sm-9 offset-sm-3  col-md-7 offset-md-5 col-lg-6 offset-lg-0">
                    <img src="assets/img/Image support.png" class="img-fluid w-100" alt="CS Support">
                </div>
            </div>
        </section>
        <section class="bg-light py-4">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center text-md-left">
                    <div class="col-12 col-md-6 monstserrat font-weight-medium">
                        <div>Bagikan jika Anda menyukai halaman ini.</div>
                    </div>
                    <div class="col-12 col-md-6 monstserrat">
                        <a href="#" class="text-primary mx-2 text-decoration-none"> <i class="fab fa-facebook-square" style="font-size: 2.75em"></i> 
                        </a>
                        <a href="#" class="text-blue-3 mr-2 text-decoration-none"> <i class="fab fa-twitter-square" style="font-size: 2.75em"></i> 
                        </a>
                        <a href="#" class="text-danger mr-2 text-decoration-none"> <i class="fab fa-google-plus-square" style="font-size: 2.75em"></i> 
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-blue-3 py-5">
            <div class="container">
                <div class="row align-items-center text-center text-md-left">
                    <div class="col-12 col-lg-9">
                        <h3 class="monstserrat font-weight-normal text-white">
                            <p class="d-md-inline">
                                Perlu <strong>BANTUAN?</strong>
                            </p>
                            <p class="d-md-inline">
                                <div class="d-sm-inline">Hubungi Kami :</div>
                                <div class="d-sm-inline">
                                    <strong>0274-5305505</strong>
                                </div>
                            </p>
                        </h3>
                    </div>
                    <div class="col-12 col-lg-3 text-md-right">
                        <a href="#" class="btn btn-outline-light rounded-pill font-weight-bolder monstserrat py-2 px-4 fs-115" style="border-width: 2px;"> <i class="fas fa-comment-alt mr-2 fs-125"></i> Live Chat</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- <div class="bg-image"></div> -->
    <footer class="footer mt-auto py-3 pb-md-3 pt-md-5 roboto text-grey-1">
        <div class="container">
            <!-- <span class="text-muted">Place sticky footer content here.</span> -->
            <div class="row mb-md-4 mb-xl-5 mt-4">
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <h6 class="fs-95 text-grey-2 mb-3">HUBUNGI KAMI</h6>
                    <ul class="list-unstyled fs-85">
                        <li> <a href="#">0274-5305505
                    </li>
                    <li>Senin - Minggu</li>
                    <li>24 Jam Nonstop</li>
                </ul>
                <ul class="list-unstyled fs-85">
                    <li>Jl. Selokan Mataram Monjali</li>
                    <li>Karangjati MT 1/304</li>
                    <li>Sinduadi, Mlati, Sleman</li>
                    <li>Yogyakarta 55284</li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-2">
                <h6 class="fs-95 text-grey-2 mb-3">LAYANAN</h6>
                <ul class="list-unstyled fs-85">
                    <li>
                        <a href="#">Domain</a> 
                        </li>
                        <li> <a href="#">Shared Hosting</a> 
                        </li>
                        <li> <a href="#">Cloud VPS Hosting</a> 
                        </li>
                        <li> <a href="#">Managed VPS Hosting</a> 
                        </li>
                        <li> <a href="#">Web Builder</a> 
                        </li>
                        <li> <a href="#">Keamanan SSL / HTTPS</a> 
                        </li>
                        <li> <a href="#">Jasa Pembuatan Website</a> 
                        </li>
                        <li> <a href="#">Program Affiliasi</a> 
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <h6 class="fs-95 text-grey-2 mb-3">SERVICE HOSTING</h6>
                    <ul class="list-unstyled fs-85">
                        <li> <a href="#">Hosting Murah</a> 
                        </li>
                        <li> <a href="#">Hosting Indonesia</a> 
                        </li>
                        <li> <a href="#">Hosting Singapura SG</a> 
                        </li>
                        <li> <a href="#">Hosting PHP</a> 
                        </li>
                        <li> <a href="#">Hosting Wordpress</a> 
                        </li>
                        <li> <a href="#">Hosting Laravel</a> 
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-2">
                    <h6 class="fs-95 text-grey-2 mb-3">TUTORIAL</h6>
                    <ul class="list-unstyled fs-85">
                        <li> <a href="#">Knowledgebase</a> 
                        </li>
                        <li> <a href="#">Blog</a> 
                        </li>
                        <li> <a href="#">Cara Pembayaran</a> 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mb-5 mb-xl-4">
                <div class="col-12 col-sm-6 col-lg-3 col-xl-3 mb-2">
                    <h6 class="fs-95 text-grey-2 mb-3">TENTANG KAMI</h6>
                    <ul class="list-unstyled fs-85">
                        <li> <a href="#">Tim Niagahoster</a> 
                        </li>
                        <li> <a href="#">Karir</a> 
                        </li>
                        <li> <a href="#">Events</a> 
                        </li>
                        <li> <a href="#">Penawaran &Promo Spesial</a> 
                        </li>
                        <li> <a href="#">Kontak Kami</a> 
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-lg-9 col-xl-3 mb-2">
                    <h6 class="fs-95 text-grey-2 mb-3">KENAPA PILIH NIAGAHOSTER?</h6>
                    <ul class="list-unstyled fs-85">
                        <li> <a href="#">Support Terbaik</a> 
                        </li>
                        <li> <a href="#">Garansi Harga Termurah</a> 
                        </li>
                        <li> <a href="#">Domain Gratis Selamanya</a> 
                        </li>
                        <li> <a href="#">Datacenter Hosting Terbaik</a> 
                        </li>
                        <li> <a href="#">Review Pelanggan</a> 
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <h6 class="fs-95 text-grey-2 mb-3">NEWSLETTER</h6>
                    <div class="input-group bg-white px-1 py-1 rounded-pill mb-1">
                        <input type="text" class="form-control rounded-pill border-0 px-3 fs-90" placeholder="Email" style="height: 45px;">
                        <div class="input-group-inline">
                            <button class="btn btn-primary bg-blue-3 border-blue-3 rounded-pill fs-90" type="button" style="height: 100%">Berlangganan</button>
                        </div>
                    </div>
                    <div class="fs-85 text-grey-2">Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda</div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <h6 class="fs-95 text-grey-2 mb-0 mb-sm-3" style="visibility:hidden">SOCIAL MEDIA</h6>
                    <!-- <div class="d-flex justify-content-between"> -->
                    <button type="button" class="btn btn-outline-light rounded-pill fs-150 btn-sc-circle text-grey-1 border-grey-1 mr-2 mr-md-4"> <i class="fab fa-facebook-f"></i> 
                    </button>
                    <button type="button" class="btn btn-outline-light rounded-pill fs-150 btn-sc-circle text-grey-1 border-grey-1 mr-2 mr-md-4"> <i class="fab fa-twitter"></i> 
                    </button>
                    <button type="button" class="btn btn-outline-light rounded-pill fs-150 btn-sc-circle text-grey-1 border-grey-1 mr-2 mr-md-4"> <i class="fab fa-google-plus-g"></i> 
                    </button>
                    <!-- </div> -->
                </div>
            </div>
            <div class="row mb-4 mb-md-4">
                <div class="col-12">
                    <h6 class="fs-95 text-grey-2 mb-3">PEMBAYARAN</h6> 
                    <img class="mr-2 mb-2" src="assets/img/payments/logo-bca-bordered.svg" width="80">
                    <img class="mr-2 mb-2" src="assets/img/payments/logo-mandiri-bordered.svg" width="80">
                    <img class="mr-2 mb-2" src="assets/img/payments/logo-bni-bordered.svg" width="80">
                    <img class="mr-2 mb-2" src="assets/img/payments/logo-visa-bordered.svg" width="80">
                    <img class="mr-2 mb-2" src="assets/img/payments/logo-mastercard-bordered.svg" width="80">
                    <img class="mr-2 mb-2" src="assets/img/payments/logo-atmbersama-bordered.svg" width="80">
                    <img class="mr-2 mb-2" src="assets/img/payments/logo-permatabank-bordered.svg" width="80">
                    <img class="mr-2 mb-2" src="assets/img/payments/logo-prima-bordered.svg" width="80">
                    <img class="mr-2 mb-2" src="assets/img/payments/logo-alto-bordered.svg" width="80">
                    <p class="fs-85 text-grey-2 mt-2 mt-lg-3">Aktivasi Instan dengan e-Payment Hosting dan domain langsung aktif!</p>
                </div>
            </div>
            <hr>
            <div class="row fs-75">
                <div class="col-12 col-md-9 text-center text-md-left">
                    <p class="mb-1">Copyright &copy;2016 Niagahoster I Hosting powered by PHP7, CloudLinux, CloudFlare. BitNinja and DC Biznet Technovillage Jakarta</p>
                    <p>Cloud VPS Murah powered by Webuzo Softaculous, Intel SSD and cloud computing technology</p>
                </div>
                <div class="col-12 col-md-3  text-center text-md-left">
                    <p> <a href="#" class="text-grey-1">Syarat dan ketentuan</a> | <a href="#" class="text-grey-1">Kebijakan Privasi</a> 
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <span onclick="topFunction()" title="Go to top" id="myBtnTop" class="gotop" aria-hidden="true" style="display: block;">
        <i class="fas fa-2x fa-arrow-up"></i>
    </span>
    <script src="assets/vendor/jquery/jquery-3.5.1.slim.min.js"></script>
    <script src="assets/vendor/popper/popper.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/vendor/fontawesome/fontawesome.js"></script>
</body>

</html>